.page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 40px;
}

.actions {
  display: flex;
  gap: 20px;
  align-self: center;
}

.history-list {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  gap: 10px;
}
