.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.area {
  align-self: stretch;
  height: 239px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  white-space: no-wrap;
}

.bold {
  font-weight: bold;
}

.hiddenInput {
  display: none;
}

.button-block {
  display: flex;
  gap: 10px;
}

.error-text {
  color: var(--orange-color);
  font-size: 35px;
  font-weight: 400;
}

.default-text {
  color: var(--black-color);
  font-size: 35px;
  font-weight: 400;
}

.area-error {
  border: 1px solid var(--orange-color);
}

.area-success,
.area-parsing {
  border: 1px solid var(--black-color);
}

.loading-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}

.highlights {
  color: var(--violet-color);
  font-weight: 400;
  font-size: 40px;
  height: 407px;
  display: flex;
  align-items: center;
  text-align: center;
}

.with-analytic {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
  gap: 60px;
}
