.button {
  width: 70px;
  height: 70px;
  background-color: var(--black-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button:before,
.button:after {
  content: '';
  position: absolute;
  width: 26.4px;
  height: 2px;
  background: var(--white-color);
  border-radius: 30px;
}
.button:before {
  transform: rotate(45deg);
}
.button:after {
  transform: rotate(-45deg);
}
